<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tech News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    

    <div class="nav-bar"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Tech News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'base' %}">Business <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Technology News!!!</h1>
        </div>
      </div>


        <div class="container">
          <div class="row">
          {% for x in data.articles %}
            <div class="card" style="width: 18rem; margin:1rem;">
              <img src="{{ x.urlToImage }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.description }}</p>
                <a href="{{ x.url }}" class="btn btn-secondary" target="_blank">Read More</a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
